body {
    background-color: black;
    font-family: 'Pixelify Sans', cursive;
    color: #fff;
    padding: 0;
    margin: 0;
}

#relogio {
    font-size: 9rem;
    text-align: center;
    padding: 150px;
}

@media (max-width: 768px) {
    #relogio {
        font-size: 4rem;
        padding: 50px;
        width: 100%;
    }
}
